.mklasson-dialog-wide {
    width: calc(min(800px, 95%));
}

.mklasson-label {
    width: 100%;
    margin-inline-end: 0px !important;
}

.mklasson-text-info {
    width: 20%;
}

.mklasson-text-control {
    width: 80%;
}

.mklasson-text-wide {
    width: 100%;
}

.mklasson-align-left {
    text-align: left;
}

.mklasson-align-center {
    text-align: center;
}

.mklasson-align-right {
    text-align: right;
}

textarea.mklasson-textarea {
    width: 100%;
    height: 5rem;
}

.mklasson-setting-error {
    background-color: var(--background-modifier-error) !important;
}
